html {
    background-color: #f9f9f9;
}

a {
    text-decoration: none;
    color: #333;
}
button{
    margin: 0;
    padding: 0;
    border: 1px solid transparent;
    outline: none;
    background: none;
    height: 0;
}
